/* * {
    box-sizing: border-box;
  } */
  
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
span{
  padding: 10px;
  color: white;
  font-weight: bold;  
}  

.top_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(37, 36, 36);
    overflow: hidden;
}
.dropdown {
    float: right;
    overflow: hidden;
  }
  
  
   .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  


 .dropbtn:hover {
    background-color: rgb(154, 149, 149);
   
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: 245px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }

a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.wrapper {
    background-color: rgba(177, 195, 195, 0.709);
    width: 100%;
    margin: 0 auto;

     }

.content{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
}
     
h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.learn-more-button{
    padding: 20px;
    border-radius: 10%;
    font-size: large;
    font-weight: bold;
    background-color: rgb(42, 120, 231);
    color: rgb(255, 255, 255);
}
.learn-more-button:hover{
    background-color: rgb(35, 102, 196);
    cursor: pointer;
}
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    
}
.button:hover{
    cursor: pointer;
}

.view-button {
    background-color:  rgb(147, 141, 141);
    padding: 10px;

}
.view-button:hover{
    background-color: rgb(119, 114, 114);
    cursor: pointer;
}

.footer{
    padding: 50px 200px;
}

.padding-hr{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
@media only screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        margin: 0 35%;
        max-width: fit-content;
        }
    .content{
        text-align: center;
    }
   
      span {
        display: none;
      }
      .top_bar{
        display:grid;
        grid-template-columns: 1fr 1fr;
      }

    .dropdown-content{
        left: 160px;
    }
}  

@media screen and (max-width: 600px){
    
p{
    display: none;

}
h1 {
    font-size: 45px;
}

}